/* Below are all of the CSS I used for the paragraphs in the code.
I was also able to use mark in my code which gave me the opportunity to highlight the words. */
h1 { color:#964F4CFF; }
h2 { color:#E2E5E6; }
h3 { color:black}
h4 { color:#333333}
mark {
    background-color: yellow;
    color: black;
  }
